div{
  margin: 0;
  padding: 0;
  background-image: url('trans.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}

h1 {
  color: Black;
}

form {
max-width: 400px;
margin: 0 auto;
}

label {
display: block;
margin-bottom: 8px;
font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="password"],
textarea {
width: 100%;
padding: 8px;
border: 1px solid #ccc;
border-radius: 4px;
margin-bottom: 16px;
}

button[type="submit"] {
background-color: #1858a8;
color: white;
padding: 10px 20px;
border: none;
border-radius: 4px;
cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #f58420;
  cursor: pointer;
}

a {
  display: inline-block;
  padding: 10px 20px;
  background-color: #1858a8;
  color: white;
  text-decoration: none;
  border-radius: 4px;
}

a:hover {
  background-color: #f58420;
  cursor: pointer;
}