h1 {
    color:Black;
}
div {
    margin: 0;
    padding: 0;
    background-image: url('trans.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}
h1 {
    color:Black;
}


table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
  }
  
  thead {
    background-color: #f2f2f2;
  }
  
  th, td {
    padding: 8px;
    text-align: left;
  }
  
  th {
    font-weight: bold;
    background-color:#1858a8;
    color:white;
  }
  
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  tr:hover {
    background-color: #e6e6e6;
  }
  
  