<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Add Account</title>
</head>

<body>
  <h1>Add Account</h1>
  <form method="post" th:action="@{/thymeleaf/save-account}" th:object="${accountTypes}">
    <p>User ID: <input type=" number" name="user.id" required>
    </p>
    <p>Account Type:
      <select name="accountType" required>
        <option th:each="accountType : ${accountTypes}" th:value="${accountType.id}" th:text="${accountType.title}">

        </option>
      </select>
    </p>
    <p>Balance: <input type="number" name="balance" required></p>
    <input type="submit" value="Add Account">
  </form>
</body>

</html>