<html xmlns:th="http://www.thymeleaf.org">

<head>
	<title>Add User</title>
	<link rel="stylesheet" type="text/css" href="/css/addtype.css">
</head>

<body>
	<div>
		<h1>Add User</h1>
		<form th:action="@{/thymeleaf/Save-Account-Type}" method="POST" th:object="${accountTypes}">

			<label for="title">Title</label>

			<input type="text" id="title" name="title" th:field="*{title}" />

			<label for="interestRate">Interest Rate</label>

			<input type="text" id="interestRate" name="interestRate" th:field="*{interestRate}" />

			<input type="hidden" id="id" name="id" th:field="*{id}" />



			<button type="submit">Save</button>

		</form>

		<a href="/thymeleaf/Authentication">Back to Authentication</a>
	</div>
</body>

</html>