<html xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>Add Transfer</title>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <link rel="stylesheet" type="text/css" href="/css/addaccount.css">
</head>

<body>
    <div>
  <h1>Add Transfer</h1>

    <form id="account-form" th:object="${account}" method="post" th:action="@{/thymeleaf/Save-Account}">
      <p>Account Type:
        <select name="accountType" required>
          <option th:each="accountType : ${accountTypes}" th:value="${accountType.id}" th:text="${accountType.title}">
          </option>
        </select>


      <p>User ID:
        <select name="userId" required>
          <option th:each="user : ${users}" th:value="${user.id}" th:text="${user.username}">
          </option>
        </select>
      </p>

      </p>
      <p>Balance: <input type="number" name="balance" required></p>
      <button class="save-btn">Save</button>
    </form>
  </div>
</body>

