<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <title>Save Withdraw</title>
</head>

<body>
    <h1>Save Withdraw</h1>
    <form method="post" th:action="@{/thymeleaf/save-withdraw}">
        <label for="accountType">Account ID:</label>
        <input type="text" id="accountType" name="accountId" /><br />

        <label for="amount">Amount:</label>
        <input type="text" id="amount" name="amount" /><br />

        <label for="transactionType">Transaction Type:</label>
        <select id="transactionType" name="transactionType">
            <option value="WITHDRAW_DEPOSIT">Withdraw/Deposit</option>
            <option value="TRANSFERS">Transfers</option>
        </select><br />

        <label for="date">Date:</label>
        <input type="text" id="date" name="date" /><br />

        <input type="submit" value="Save" />
    </form>
</body>

</html>