
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Withdraw/Deposit Form</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body>
    <h1>Withdraw/Deposit Form</h1>

    <form action="#" th:action="@{/save-withdraw}" th:object="${withdrawDeposit}" method="post">
        <div>
            <label for="accountId">Account ID:</label>
            <input type="number" id="accountId" name="accountId" required />
        </div>

        <div>
            <label for="amount">Amount:</label>
            <input type="number" id="amount" name="amount" required />
        </div>

        <div>
            <label for="transactionType">Transaction Type:</label>
            <select id="transactionType" name="transactionType">
                <option value="WITHDRAW">Withdraw</option>
                <option value="DEPOSIT">Deposit</option>
            </select>
        </div>

        <div>
            <label for="date">Date:</label>
            <input type="datetime-local" id="date" name="date" value="${#temporals.format(temporals.createNow(), 'yyyy-MM-dd\'T\'HH:mm')}" required />
        </div>

        <button type="submit">Submit</button>
    </form>
</body>

</html>
