<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Add Withdraw/Deposit</title>
    <link rel="stylesheet" type="text/css" href="/css/withdraw.css">

</head>

<body>
    <h1>Add Withdraw/Deposit</h1>

    <form th:action="@{/thymeleaf/Save-Withdraw}" method="post" onsubmit="handleSubmit()">

        <label for="accountId">Account ID:</label>
        <select id="accountId" name="accountId" required>
            <option th:each="account : ${accountList}" th:value="${account.id}" th:text="${account.id}"></option>
        </select><br>
        <label for="amount">Amount:</label>
        <input type="text" id="amount" name="amount" required><br>
        <br>

        <label for="type">Type:</label>
        <select id="type" name="type" required>
            <option value="">Select Type</option>
            <option value="WITHDRAW">Withdraw</option>
            <option value="DEPOSIT">Deposit</option>
        </select><br>
        <br>

        <label for="date">Date:</label>

        <input type="text" id="date" name="date" th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}" readonly
            required><br>
        <br>
        <button type="submit">Save</button>
    </form>
</body>
</html>