<html xmlns:th="http://www.thymeleaf.org">


<head>
    <title>Login</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="with=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/login.css">
</head>


<body>
    <div>
        <h3>Login</h3>
        <hr />
        <form th:action="@{/thymeleaf/login/save}" th:object="${user}" method="POST">
            <input type="text" th:field="*{username}" placeholder="Enter username" />
            <input type="password" th:field="*{password}" placeholder="Enter password" />
            <button type="submit">Login</button>
            <br>

            <button type="submit"> <a href="http://localhost:8080/thymeleaf/Add-User"> register</a></button>

        </form>
    </div>
</body>

</html>