<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Bank Transactions</title>
    <link rel="stylesheet" type="text/css" href="/css/transfer.css">
</head>

<body>
    <h1>Bank Transactions</h1>
    <div>
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Amount</th>
                <th>Date</th>
                <th>Transaction Type</th>
                <th>Source Account</th>
                <th>Destination Account</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="transaction : ${transactions}">
                <td th:text="${transaction.id}"></td>
                <td th:text="${transaction.amount}"></td>
                <td th:text="${transaction.date}"></td>
                <td th:text="${transaction.transactionType}"></td>
                <td th:text="${transaction.sourceAccount.accountNumber}"></td>
                <td th:text="${transaction.destinationAccount.accountNumber}"></td>
            </tr>
            <div class="line-background"></div>
        </tbody>

        <body>
            <div class="frame">
              <div class="frame-168">
                <!-- Add your content here -->
              </div>
              <div class="content">
                <!-- Add your content here -->
              </div>
            </div>
          </body>
    </table>
    <div>
</body>

</html>